<h1>User Experience Design</h1>
<p>User experience design is like ergonomics. We all know there is a big difference between a badly designed scissors that hurts your fingers and a scissors that feels like an extension of your hand.</p>
<p>Ergonomics is central to engineering and industrial design, just as user experience design is central to software engineering and web design.</p>
<p>There is a saying in the ergonomics world:</p>
<blockquote>
<p>“When in doubt, throw it out.”</p>
</blockquote>
<p>This is how most users approach apps and websites, except they throw them out much more quickly than they’d throw away something more physical. As a website owner, the greatest risk is that your users will get frustrated or bored and close the browser tab, never to return again.</p>
<p>Focusing on user experience (UX) helps to maximise conversions and boost customer engagement.</p>
<p>Using market analysis, user testing, persona creation and user flows, we work to make your website as user friendly as possible. Wave goodbye to your high bounce rate.</p>
<p>Ok is it ready? Is it ready again? ok this time okok</p>
