body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-rendering: optimizeLegibility;
}
// $spacer: 1.75rem;

section.case-study {
    margin-bottom: 3rem;
}

// i {
//     line-height: $spacer/2;
// }

// p {
    // line-height: $spacer;
    // margin: $spacer 0;
// }

img.case-study-thumb {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 2px 4px rgba(0,0,0,.08);
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

img.case-study-thumb:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 4px 7px rgba(0,0,0,.08);
    
}

.text-white {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
{
    font-family: "futura-pt", Helvetica !important;
    font-weight: 700;
    color: #2e2e2e;
    text-transform: uppercase;
}

section#hero {
    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
}

section.services > .row {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

a.mail-link {
    transition: all 1s;
    color: #444;
}

a.mail-link:hover,
a.mail-link:focus {
    text-decoration: none;
    color: $brand-primary;
}

.branding-row {
    margin-top: 5rem;
}

.ready-contact {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    span {
        margin: 0px 10px 0px 10px;
    }
    button.btn-default {
        padding: 10px 10px 10px 10px;
    }
}

.carousel-caption {
    h1 {
        font-size: 46px;
        // font-family: "Lato", sans-serif;
        font-family: "Futura PT", sans-serif !important;
        font-weight: 900;
    }
}

.clients-row {
    padding-top: 60px;
    padding-bottom: 60px;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

nav.navbar {
    -webkit-box-shadow: 0px 3px 5px -4px rgba(3,13,48,0.45);
    -moz-box-shadow: 0px 3px 5px -4px rgba(3,13,48,0.45);
    box-shadow: 0px 3px 5px -4px rgba(3,13,48,0.45);
}

.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#mc_embed_signup {
    background: #fff;
    // clear: left;
    // font: 14px Helvetica, Arial, sans-serif;
}



.bold {
    font-weight: 700;
}

.seo-training-sticker {
    max-height: 250px;
}

section.services {
    .row {
        padding-top: $spacer;
        padding-bottom: $spacer;
    }
}

.top-margin {
    margin-top: 40px;
}

div.f-callout {
    h4 {
        color: $brand-primary;
        margin-top: 0;
        margin-bottom: 5px;
    }
}

div.f-callout {
    margin: $spacer 0;
    padding: $spacer;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: $brand-primary;
}

blockquote.blockquote {
    margin-top: 4rem;
    // line-height: 1.5;
}

footer {
    padding-top: 2em;
}

footer, #mc_embed_signup_scroll {
    background: rgba(211, 218, 223, 0.45);
}


footer.blockquote-footer {
    color: #222;
    cite > a {
        color: #222;
    }
}

footer > ul {
    margin-left: 0;
}


#mc_embed_signup input.email {
    width: 100%;
}

section.newsletter {
    padding-top: $spacer*2;
}

.newsletter-submit {
    margin-top: $spacer;
}

.bg-primary {
    background-color: $brand-primary;
}

a.cta {
    margin-top: $spacer*2;
}

h1.focalise-hero-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
}

.second-wedding-row {
    margin-top: 2rem;
}

.page-header-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 4rem;
}

.weddings-hero {
    margin-top: 2rem;
    background-image: url('http://focalise.ie/wp-content/uploads/2016/05/wedding-videography.jpg');
    background-position: center;
    h3 {
        color: white;
        text-transform: uppercase;
        font-weight: 700 !important;
        text-shadow: 0px 1px 10px rgba(150, 150, 150, 1);
    }
}

.local-info {
    list-style: none;
}

.bg-primary {
    h1 {
        color: white;
    }
}

.title {
    text-transform: uppercase;
    font-size: 1.75rem;
}

h1 {
    text-transform: uppercase;
}

.video-hero {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.tags > a {
    text-transform: uppercase;
    margin-right: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

div.jumbotron.stripe-top {
    border-top: thick $brand-primary;
    border-top-style: dotted;
    border-bottom: thick $brand-primary;
    border-bottom-style: dotted;
}

a.no-link {
    text-decoration: none;
}

ul.wp-training-features {
    list-style: none;
    line-height: 0.5em;
}

.web-intro {
    padding-top: 2rem;
    background-color: #eee;
    padding-bottom: 2rem;
}

.list-group-item > i {
    margin: 0;
}

.google-partner-logo {
    padding: 2rem;
}

ul.podcast-intro-list {
    list-style: none;
}

h3.how-it-works {
    letter-spacing: 5px;
    font-weight: 300;
}

.service-cards > div > div {
    margin-bottom: 2rem;
}

.btn-no-padding {
    padding-left: 0;
}

.more-services {
    // border-bottom: 2px dotted #999;
    padding-bottom: 1rem;
}

section.web-design {
    // margin-top: 2rem;
    margin-bottom: 2rem;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: 100%;
    background-color: #222;
    
    h2  {
        color: white;
        size: 3rem;
    }
}

.nav-link {
    font-weight: 600;
    letter-spacing: 2px;
}

// .nav-item {
//     letter-spacing: 1px;
// }

nav.navbar {
    text-transform: uppercase;
    font-weight: 900;
}

.btn {
    text-transform: uppercase;
}
.web-hosting-hero {
    background-color: $brand-primary;
    div {   
    color: white;
    h1 {
        color: white;
    }
    }
}

.cog-animation {
    margin-bottom: 1em;
}

.hero-cog-1, .hero-cog-2 {
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.hero-cog-2 {
    animation-name: spin-reverse;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @keyframes spin-reverse {
        from { transform: rotate(360deg);}
        to { transform: rotate(0deg);}
    }
}

.clients-row {
    margin-bottom: 2rem;
}

.web-design-intro {
   padding-top: 4rem;
   padding-bottom: 4rem;
}

article > div.entry-content > div.embed-responsive {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.hero-banner {
    padding-top: 180px;
    padding-bottom: 200px;
    background-color: #006DB1;
    // background: #4b6cb7;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    // background-position-y: -423px;
    // background-image: url('https://focalise.ie/wp-content/uploads/2017/09/laptop.png');
    // background-blend-mode: multiply;
}

.hero-text {
    letter-spacing: 1.4px;
    font-size: 3rem;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.hero-subtext {
    color: hsl(192, 56%, 56%);
}

.landing-page-row {
    padding-top: 2rem;
}

.spaced {
    letter-spacing: 1.4px;
}

.landing-page-hero {
    background-position-y: -438px;
    background-color: #006DB1;
    background-image: url('https://focalise.ie/wp-content/uploads/2017/09/laptop.png');
    background-blend-mode: multiply;
    margin-top: 3rem;
    padding-top: 5rem;
    color: white;
}

.landing-page-hero-text {
    letter-spacing: 1.4px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);    
    color: white;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        }
    40% {
        transform: scale(1.1);
        }
    50% {
        transform: scale(1);
        }
    60% {
        transform: scale(1.2);
        }
    100% {
        transform: scale(1);
        }
}

.love-heart {
    color: red;
    animation-name: heartbeat;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    // animation-direction: alternate;
    span {
        position: fixed;
    }
}

span.heart {
    position: absolute;
}

span.made-with {
    margin-right: 2px;
}

span.in-wicklow {
    margin-left: 25px;
}

.made-with-love {
    margin-bottom: 1rem;
    span {
        opacity: 0.8;
    }
}

.btn {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    background: linear-gradient(0, hsl(203, 96%, 46%), hsl(203, 96%, 56%));
    border: 0;
    color: white;
}

.btn:hover {
    color: white;
    transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
}


.nav-contact-btn {
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: 1px;
}

.book-your-session {
    padding-top: 4em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 4em;
    border-top-color: #0580cd;
    border-top-width: 1em;
    border-top-style: solid;
    border-bottom-color: #0580cd;
    border-bottom-width: 1em;
    border-bottom-style: solid;
}


.gradient-overlay {
    background: linear-gradient(150deg, 
    hsl(205, 71%, 50%),
    hsl(210, 83%, 55%),
    hsl(230, 83%, 75%));
    color: white;
    h1 {
        color: white;
    }
}

.article p, .entry-content p, .page-article p {
    margin-bottom: 1.66667em;
    letter-spacing: 0.35px;
    font-kerning: auto;
}

.page-article > h3, .page-article h4, .page-article h5, .article h5, .article h4, .article h3, .article h2 {
    margin-top: 2em;
}

// section.trading-online-voucher {
//     margin-top: 3em;
//     margin-bottom: 3em;
// }

.training-icon, .how-to-get-into-local-search-results-icon {
    margin-right: 0.5em;
    opacity: 0.85;
    color: #072738;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.testimonials-header {
    margin-top: 5em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    // opacity: 0.9;
}

.farmgas-tesimonial-logo {
    margin-bottom: 2em;
    margin-top: 2em;
}

.happypear-tesimonial-logo {
    margin-top: 3em;
}

.testimonial {
    margin-bottom: 2em;
    margin-top: 2em;
}

ul.footer-links {
    list-style: none;
    padding-left: 0;

    li {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    
}
i.footer-icon {
    padding-right: 0.5em;
}

.contact-details {
    margin-bottom: 2em;
}